body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}


.header, .upper {
    background-color: #1f2937;
    margin: 0;
    padding: 10px 200px 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #f9faf8;
    white-space: nowrap;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    font-size: 18px;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    color: #e5e7eb;
}

.upper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.upper-left {
    flex: 1;
    min-width: 200px;
}

h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 1.2;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.upper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex: 1;
    min-width: 530px;
}

#placeholder {
    max-width: 100%;
    min-width: 530px;
    height: auto;
    display: block;
}

button a {
    text-decoration: none;
    color: #e5e7eb;
}

button a:active {
    text-decoration: none;
    color: #e5e7eb;
}

#hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 45px;
    color: #e5e7eb;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.information {
    display: flex;
    justify-content: center;
    padding: 50px 200px 100px;
}

.cards {
    display: flex;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.box {
    border: 8px solid #3882f6;
    border-radius: 12px;
    padding: 16px;
    flex: 0 0 30px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.subtext {
    font-size: 26px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 240px;
}


.quote {
    font-size: 36px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding: 0px 80px;
    margin: 0;
}

.quote-credit {
    display: flex;
    font-size: 26px;
    font-weight: 900;
    color: #1f2937;
    justify-content: end;
    padding: 0px 100px;
}

.sign-up {
    display: flex;
    padding: 80px 160px;
    margin: 100px 160px;
    border-radius: 8px;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.sign-up-header {
    color: #f9faf8;
    font-size: 28px;
    font-weight: bold;
}

.sign-up-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

#sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    width: 140px;
    height: 45px;
    color: #e5e7eb;
    font-weight: bold;
    border-color: #f9faf8;
    border-style: solid;
    border-width: 4px;
    font-size: 18px;
    font-weight: bold;
}


.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 26px;
    padding: 40px;
}
